/*notes */

.app-container {
	min-width: 550px;
}

.note {
	background-color: #fcf483;
	border-radius: 15px;
	padding: 1rem;
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-line;
}

.note.new {
	background-color: #7cb1ee;
}

textarea {
	border: none;
	resize: none;
	float: left;
	width: 100%;
	height: auto;
}

textarea.title {
	text-align: center;
	font-size: 175%;
	font-weight: bold;
}

textarea.body {
	font-size: 125%;
}

textarea:focus {
	outline: none;
}

.save {
	background-color: rgb(225, 225, 225);
	border: 1px;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: rgb(237, 237, 237);
	cursor: pointer;
}

.signout {
	margin: 0;
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgb(225, 225, 225);
	border: 1px;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.signout:hover {
	background-color: rgb(237, 237, 237);
	cursor: pointer;
}

.note-title {
	text-align: center;
	font-size: 175%;
	font-weight: bold;
}

.note-body {
	margin: 10px;
	font-size: 125%;
}

.note-footer {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.notes-list {
	margin: 1rem;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(400px, 1fr)
	);
}


/* signup form */
  
.form-container {
	margin: 200px auto;
	max-width: 500px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	border-radius: 10px;
	height: 600px;
	display: grid;
	grid-template-columns: 1fr;
  }
  
  .close-btn {
	position: absolute;
	top: 2%;
	right: 3%;
	font-size: 1.5rem;
	z-index: 1;
	color: #fff;
	cursor: pointer;
  }
  
  .form-content-left {
	background: linear-gradient(
	  90deg,
	  rgb(39, 176, 255) 0%,
	  rgb(0, 232, 236) 100%
	);
	border-radius: 10px 0 0 10px;
	position: relative;
  }
  
  .form-img {
	width: 80%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .form-img-2 {
	width: 60%;
	height: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .form-success {
	text-align: center;
	font-size: 24px;
	margin-top: 80px;
	color: #fff;
  }
  
  .form-content-right {
	border-radius: 0 10px 10px 0;
	position: relative;
	background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
  }
  
  .form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .form h1 {
	font-size: 1rem;
	text-align: start;
	width: 80%;
	margin-bottom: 1rem;
	color: rgb(255, 255, 255);
  }
  
  .form-inputs {
	margin-bottom: 0.5rem;
	width: 80%;
  }
  
  .form-inputs p {
	font-size: 0.8rem;
	margin-top: 0.5rem;
	color: rgb(240, 14, 14);
  }
  
  .form-label {
	display: inline-block;
	font-size: 0.8rem;
	margin-bottom: 6px;
	color: rgb(255, 255, 255);
  }
  
  .form-input {
	display: block;
	padding-left: 10px;
	outline: none;
	border-radius: 2px;
	height: 40px;
	width: 100%;
	border: none;
  }
  
  .form-input::placeholder {
	color: #595959;
	font-size: 12px;
  }
  
  .form-input-btn {
	width: 80%;
	height: 50px;
	margin-top: 10px;
	border-radius: 2px;
	background: linear-gradient(
	  90deg,
	  rgb(39, 176, 255) 0%,
	  rgb(0, 232, 236) 100%
	);
	outline: none;
	border: none;
	color: #fff;
	font-size: 1rem;
  }
  
  .form-input-btn:hover {
	cursor: pointer;
	background: linear-gradient(
	  90deg,
	  rgb(39, 143, 255) 0%,
	  rgb(12, 99, 250) 100%
	);
	transition: all 0.4s ease-out;
  }
  
  .form-input-login {
	font-size: 0.8rem;
	margin-top: 10px;
	color: rgb(0, 0, 0);
	text-align: center;
  }
  
  .form-input-login a {
	font-weight: 600;
  }

  .navContainer {
	display: flex;
	background: #212529;
	justify-content: space-between;
  }

  .userButton {
	  	margin-top: 14px;
		margin-right: 20px;
		color:rgb(255, 255, 255);
  }

  .dangerItem {
	color: red;
	text-align: center;
  }


  .userDrop {
	  position: absolute;
	  right: 20px;
	  top: 50px;
  }


  .bigAvatar {
	color:rgb(255, 255, 255);
	font-size: 200%;
	font-weight: 550;
	text-align: center;
  }

  .userDisplay {
	display: flex;
	justify-content: space-between;
	margin: 10px;
  }

  .userDisplayData {
	display: grid;
	margin: 10px;
  }

  .greyText {
	color:rgba(0, 0, 0, 0.637);
  }

  .boldText {
	font-weight: 550;
	font-size: 110%;
  }

  .googleLoginButton {
	  margin-top: 18px;
  }

  .top-margin {
	  margin-bottom: 1rem;
  }

  .about-text{
	margin-top: 8rem;
	text-align: center;
  }

  .about-header {
	  margin-top: 10rem;
	  text-align: center;
	  font-size: 200%;
  }

  .home-header {
	margin-top: 10rem;
	text-align: center;
	font-size: 437.5%;
}

.delete-icon {
	cursor: pointer;
	margin-left: 10px;
}

.cancel-button {
	background-color: #e1e1e1;
	border: 1px;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
	margin-right: 10px;
}

.black-text {
	color: #000;
	font-size: 100%;
}

.center {
	margin: 20px;
	margin-top: 30px;
}

.profile-header {
	margin: 10px;
	text-align: center;
	margin-bottom: 30px;
}

.signin-header {
	margin: 10px;
	text-align: center;
	margin-bottom: 30px;
}

.user-profile-display {
	display: flex;
	margin: 10px;
	}

.even {
	display: flex;
	justify-content: space-evenly;
	min-height: 10em;
	display: table-cell;
	vertical-align: middle
}

.button-space {
	margin-left: 50px;
	margin-right: 50px;
}

.color-picker {
	margin-right: 15px;
	margin-top: 4px;
}

.note-footer-items {
	display: flex;
	justify-content: space-evenly;
	vertical-align: middle

}

.centered {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}
