.note {
	background-color: #fcf484;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 15px;
	padding: 1rem;
	min-height: 294px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-line;
}

.note.new {
	background-color: #7bb1ee;
}

textarea {
	border: none;
	resize: none;
	background-color: #7bb1ee;
	float: left;
	width: 100%;
	height: auto;
}

textarea.title {
	text-align: center;
	font-size: 175%;
	font-weight: bold;
}

textarea.body {
	font-size: 125%;
}

textarea:focus {
	outline: none;
}

.save {
	background-color: #e1e1e1;
	border: 1px;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.signout {
	margin: 0;
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #e1e1e1;
	border: 1px;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.signout:hover {
	background-color: #ededed;
	cursor: pointer;
}

.note-title {
	text-align: center;
	font-size: 175%;
	font-weight: bold;
}

.note-body {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 125%;
}

.note-footer {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.notes-list {
	display: grid;
	grid-row-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(340px, 1fr)
	);
}

/*
h1 {
    text-align: center;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 0, 32);
    padding: 40px;
}

.list {
    display: flex;
    justify-content: center;
    width: 100%;
}

.list ul li {
    list-style: none;
    margin: 42px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px 25px;
    background-color: transparent;
    border: 2px solid rgb(12, 0, 66);
}

a:hover {
    background-color: rgb(0, 21, 66);
    color: rgb(255, 255, 255);
}


*/