.note {
	background-color: #fcf484;
  margin-bottom: 10px;
	border-radius: 15px;
	padding: 1rem;
	min-height: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-line;
}

.title {
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}

.note-footer {
  margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}
